.header{
    height: 100vh;
    width: 100%;
    background-color: $color-background;

    @include response(mobile){
        height: 90vh;
    }

    &__background{
        width: 100%;
        height: 100%;
        background-color: $color-primary-dark;
        clip-path: polygon(0 0,
            100% 0%,
            100% 60%,
            0 90%);

        @include response(mobile) {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-primary-light),
                to($color-primary-dark)),
                url('../../images/slides/weed1.jpg');
            background-image: linear-gradient(to right bottom, $color-primary-light, 
                $color-primary-dark), 
                url('../../images/slides/weed1.jpg');
            background-size: cover;
            background-position: top;
            position: relative;
            clip-path: none;
        }

        @include response(tab-port) {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-primary-light),
                    to($color-primary-dark)),
                url('../../images/slides/weed1.jpg');
            background-image: linear-gradient(to right bottom, $color-primary-light,
                    $color-primary-dark),
                url('../../images/slides/weed1.jpg');
            background-size: cover;
            background-position: top;
            position: relative;
            clip-path: none;
        }
    }

    &__text-box{
        position: absolute;
        top: 45%;
        left: 0%;
        text-align: center;

        @include response(mobile){
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }

        @include response(tab-port) {
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }

        
    }

    &__right{
        position: absolute;
        top: 26vh;
        width: 50%;
        z-index: 10;
        float: right;
        right: 0;
        height: 100%;

        @include response(mobile){
            display: none;
        }

        @include response(tab-port) {
            display: none;
        }
        @include response(tab-port) {
            display: none;
        }

        .hover{
            outline: 1rem solid $color-secondary;
            transform: scale(1.06);
            box-shadow: 0 2.5rem 4rem rgba(black, .5);
            z-index: 20;
        }
        
        .not-hover{
            transform: scale(.7);
            z-index: 10;
        }
    }
}