/*
    NAVIGATION STYLES
**/
.navigation{
    position: relative;
    border-bottom: white 2px solid;
    border-bottom: $color-primary-dark 2px solid;
    z-index: 20;
    top: 0;
    left: 0;

    

    &__header{
        height: 16vh;
        position: relative;
        background-color: white;
        display: flex;
        border-bottom: 1px solid black;
        justify-content: space-around;
        align-items: center;
        

         @include response(mobile) {
            justify-content: space-around;
            width: 100%;
            padding: unset;

         }

         @include response(tab-port) {
            justify-content: space-around;
            width: 100%;
            padding: unset;

         }

    }
    .logo-box{
        align-self: center;
        display: flex;
        align-items: center;

        @include response(mobile) {
            justify-content: start;
            order: 2;
        }

        @include response(tab-port) {
            font-size: 2rem;
            order: 2;
            font-weight: bolder;
        }

        @include response(tab-land) {
            font-size: 2rem;
            font-weight: bolder;
        }
        .logo{
            margin: 10px .5rem;

            @include response(mobile) {
                margin: 0;

            }
            
            img{
                width: 5rem;
                height: 5rem;

                @include response(mobile) {
                    width: 3rem;
                    height: 3rem;

                }

                @include response(tab-port) {
                    width: 4rem;
                    height: 4rem;
                }

                @include response(tab-land) {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
        .app-name{
            color: rgb(0, 0, 0);
            backface-visibility: hidden;
            font-family: $russ-one;
            text-transform: uppercase;
            font-size: 2rem;
            text-decoration: none;
            font-weight: bolder;

            @include response(mobile) {
                font-size: 1.4rem;
                font-weight: bolder;
                padding-left: .6rem;
            }

            @include response(tab-port) {
                font-size: 1.7rem;
                font-weight: bolder;
                padding-left: .6rem;
            }

            @include response(tab-land) {
                font-size: 2rem;
                font-weight: bolder;
            }

        }

        .app-name span:nth-child(odd) {
            color: $color-primary-dark;

        }

    }

    &__nav{
        display: flex;
        height: 10vh;
        z-index: 30;
        background-color: white;
        align-items: center;
        justify-content: center;



        @include response(mobile){
            display: none;
            left: 0;
            position: fixed;
            top: 0;
            background-color: white;
            height: 100vh;
            width: 100vw;
        }

        @include response(tab-port){
            display: none;
            top: 0;
            left: 0;
            position: fixed;
            background-color: white;
            height: 100vh;
            width: 100vw;

        }

    }

    &__list{
        list-style: none;
        display: flex;


        @include response(mobile){
            background-color: white;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 3rem;

        }

        @include response(tab-port) {
            flex-direction: column;
            background-color: white;
            align-items: center;
            justify-content: flex-start;
            padding: 3rem;

        }
    }

    &__item{
        padding: 0 5rem;
        @include response(mobile) {
            padding: 1.5rem;

        }

        @include response(tab-port) {
            padding: 1.5rem;

        }
    }

    .current-user{
        color: $color-primary-dark;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        order: 3;

        @include response(mobile) {
            font-size: 2rem;
            


        }

        svg{
            cursor: pointer;
        }
 
    }
    &__i{
        visibility: hidden;
        color: $color-secondary;
    }

    &__link{

        &,
        &:link{
            text-decoration: none;
            color: black;
            font-size: 1.6rem;
            text-transform: uppercase;
            outline: none;
              @include response(mobile) {
                  padding: 1.5rem;
                  font-size: 3rem;

              }

              @include response(tab-port) {
                  padding: 1.5rem;
                  text-transform: uppercase;
                  font-size: 3rem;

              }

              @include response(tab-land) {
                font-size: 1.4rem;
            }

        }

        &:hover{
            color: rgba($color-secondary, .4)
        }
        &:active{
            color: $color-secondary;
        }
    }

    


    &__button{
        display: none;
        position: relative;
        border: black 1px solid;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        text-align: center;
        z-index: 40;
        color: red;
        cursor: pointer;

        @include response(mobile) {
            display: initial;
            order: 1;

        }

        @include response(tab-port) {
            display: initial;
            order: 1;
        }

        &:hover {
            background-color: $color-secondary;

        }

        &:hover &__icon::before {
            top: .2rem;
        }

        &:hover &__icon::after {
            top: -.2rem;
        }

    }

    &__icon{
        position: relative;
        margin-top: 1.3rem;

        &,
        &::before,
        &::after{
            display: inline-block;
            width: 2.2rem ;
            left: 0;
            height: 2px;
            background-color: black;
        }

        &::before,
        &::after{
            content: ' ';
            position: absolute;
            left: 0;
        }

        &::before{
            top: -.4rem;
        }

        &::after {
            top: .4rem;
        }
    }

    &__checkbox{
        display:none;
        
    }

    &__checkbox:checked ~ &__nav{
        display: flex;
         @include response(mobile) {
             display: flex;
         }

         @include response(tab-port) {
             display: flex;
         }
    }

    &__checkbox:checked ~ &__button {
        @include response(mobile) {
            background-color: $color-secondary;
        }

        @include response(tab-port) {
            background-color: $color-secondary;
        }
    }

    &__checkbox:checked  + &__button &__icon {

        @include response(mobile) {
            background-color: transparent;

        }

        @include response(tab-port) {
            background-color: transparent;

        }
    }

    &__checkbox:checked+&__button &__icon::before {
        @include response(mobile) {
            top: 0;
            transform: rotate(-45deg);
        }

        @include response(tab-port) {
            top: 0;
            transform: rotate(-45deg);
        }
        
    }

    &__checkbox:checked+&__button &__icon::after {
        @include response(mobile) {
            top: 0;
            transform: rotate(45deg);
        }

        @include response(tab-port) {
            top: 0;
            transform: rotate(45deg);
        }
        
    }

    &__active{
        color: $color-secondary !important;
    }
    &__active &__i{
        visibility: visible;
    }
}

.left-nav {
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $color-primary-dark;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;

    @include response(mobile) {
        display: flex;
        position: relative;
        height: 10vh;
        width: 100vw;

    }

    @include response(tab-port) {
        width: 20%;

    }

    @include response(tab-land) {
        width: 20%;

    }

     &__nav {
        padding-top: $default-margin-top;
         background-color: black;
         display: block;
         width: 95%;
         height: 100%;

         @include response(mobile) {
             display: flex;
             padding-top: 0;
             width: 100%;
         }

   
     }

    &__list{
        list-style: none;

        @include response(mobile) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;

            
        }
    }

    &__list:nth-child(2) {
        list-style: none;

        @include response(mobile) {
            display: flex;
        }

    }

    &__link {
        display: block;
        text-align: center;
        color: white;
        padding: 2rem 0;
        width: 100%;
        height: 100%;
        text-decoration: none;

        @include response(mobile) {
            padding: 10px 20px 10px 10px;
            font-size: 1rem;
        }

        
        &:hover {
            background-color: $color-primary-dark;

            @include response(mobile) {
                background-color: transparent;
                color: $color-secondary;
            }
        }
    }

    

    &__item {
        cursor: pointer;
        text-align: center;
        padding: 0;

        @include response(mobile){
            align-self: center;
        }

        .left-nav-active{
             background-color: $color-primary-dark;

            @include response(mobile) {
            background-color: transparent;
            color: $color-secondary;
            }
        }
    }

}