.button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    .btn{
        font-size: 1rem;
        background-color: $color-primary-dark;
        color: white;
        padding: 1.5rem 2rem;

        &:hover{
            background-color: $color-background;
            color: $color-primary-dark;
        }
    }
}
.btn{
    background-color: $color-primary-dark;
    border: none;
    outline: none;
    padding: 11px 24px;
    margin: 12px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: black;
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: $box-shadow;
    transition: all .1s;
    cursor: pointer;

    @include response(mobile) {
        padding: 6px 14px;
        margin: 10px;
        font-size: 1.1rem;


    }

    @include response(tab-port) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;


    }

    &:hover {
        background-color: $color-background;
        color: $color-primary-dark;
    }

    &:disabled{
         border: 1px solid #999999;
         background-color: #cccccc;
         color: #666666;
         pointer-events: none;
         cursor: not-allowed;
    }
}



.custom-button{
    background-color: white;
    border: none;
    outline: none;
    padding: 20px 40px;
    margin: 12px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: black;
    font-size: 2rem;
    letter-spacing: 2.5px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: $box-shadow;
    transition: all .1s;
    cursor: pointer;

     @include response(mobile) {
         font-size: 1.5rem;
        padding: 12px 24px;
     }

     @include response(tab-port) {
        
     }

    &:hover{
        background-color: $color-primary-dark;
        color: white;
    }
}

.custom-button ::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}

.custom-button:hover::before {
    opacity: 0.2;
}

.custom-button span {
    position: absolute;
}

.custom-button span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: black;
    -webkit-animation: 2s animateTop linear infinite;
    animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.custom-button  span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background-color: black;
    animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.custom-button  span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: black;
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.custom-button  span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: black;
    animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}


