.card-list{
      margin: 2rem auto;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      row-gap: 2rem;

      @include response(mobile) {
          grid-template-columns: 1fr;
          width: 80%;
          padding-left: 0;

      }

       @include response(tab-port) {
            width: 70%;
            grid-template-columns: 1fr;


       }
}

.card{
    text-align: center;
    height: 70vh;
    position: relative;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 10px;
    overflow: hidden;

    &__image{
        height: 50%;
        background-size: cover;
    }

    &__heading{
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
        background-color: $color-primary-dark;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 100%;
        padding: 2rem 0;
        word-break: break-all;

        @include response(mobile){
            font-size: 1.7rem;
        }

        @include response(tab-port) {
            font-size: 1.5rem;
        }
    }

    &__details{
        padding: 3.5rem 4rem 10px 4rem;
        text-align: center;
        font-size: 1.5rem;

        .item{
            border-bottom: 1px solid black;
            padding: 1rem 0;
            font-weight: bold;
        }

        .price{
            font-size: 2rem;
            color: black;
        }

       
    }

    &__purchase{
        display: flex;
        justify-content: space-around;
    }

    &__icon{
        border: 2px solid white;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        position: relative;
        background-color: transparent;
        cursor: pointer;

        .icon{
            position: absolute;
            font-size: 2rem;
            left: 50%;
            color: $color-primary-dark;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: $color-primary-dark;
        }

        &:hover .icon{
            color: white;
        }
    }

    &__select{
        width:8rem;
        text-align: center;
        background-color: green($color: #000000);

        option{
            background-color: $color-primary-dark;
            color: white;
            text-align: center;
        }
    }




}