.chart{
    background-color: white;
    display: flex;
    height: 70vh;
    padding-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        text-align: center;
        padding-bottom: 2rem;
    }
 
}

.chart > div{
    @include response(mobile) {
            transform: scale(.8);

        


    }
}