.dropdown{
    display: block;
    position: absolute;
    z-index: 40;
    top: 16vh;
    right: 0;
    width: 25vw;
    min-height: 20vh;
    text-align: center;
    background-color: white;
    border: 2px solid $color-primary-light;

    @include response(mobile) {
        min-height: 30vh;
        width: 40vw
    }


    @include response(tab-port) {
        min-height: 30vh;
        width: 40vw

    }

    @include response(tab-land) {
        width: 40vw;
        min-height: 30vh;

    }

    &--1{
        left: 0;
        top: 16vh;
        height: 20vh;
        width: 30vw;
        position: absolute;
        padding: 3rem;


        @include response(mobile) {
            width: 50vw !important;
            height: 20vh;
            left: 5vw;
            min-height: unset !important;
        }

        
        @include response(tab-port) {
            width: 50vw !important;
            right: 10vw;
            left: unset


        }

        @include response(tab-land) {
            width: 30vw !important;
            left: 0

        }

        .close-button{
            position: absolute;
            top: 5px;
            right: 10px;
             position: absolute;
             border-radius: 50%;
             cursor: pointer;
             width: 2rem;
             height: 2rem;
             color: gray;

            
        }
        
    }

    @include response(mobile){
        width: 70vw;
    }

    @include response(tab-port) {
        width: 50vw;
    }

    &__list{
        height: 20vh;
        width: 95%;
        border: 1px black solid;
        margin: 2rem auto 0 auto;
        list-style: none;
        overflow-y: auto;

        &--1{
            list-style: none;
            color: black;
            display: flex;
            flex-direction: column;

            h3 {
                text-transform: uppercase;

                @include response(mobile){
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__item{
        background-color: rgb(233, 233, 233);
        min-height: 30%;
        display: flex;
        color: black;

        

        &--1{
            display: flex;
            justify-content: center;
            align-items: center;

            

            .label {
                font-weight: bold;
                font-size: 1.8rem;
                @include response(mobile) {
                    font-size: 1.4rem;
                }
            }
            .value{
                font-size: 1.8rem;
                padding-left: 10px;
                @include response(mobile) {
                    font-size: 1.4rem;
                }
            }
        }


        .image{
            height: 10vh;
            width: 30%;
        }

        .detail{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
            padding: 0 1rem;

            &__name{
                font-size: 1.5rem;
                font-weight: bolder;
                text-transform: capitalize;
            }

            &__quantity{
                display: flex;
                flex-direction: row;
                
                .price, .quantity{
                    margin: 8px;

                    @include response(tab-port){
                        font-size: 1.1rem;
                    }

                    @include response(tab-land){
                        font-size: 1.1rem;
                    }

                }

                span {
                    @include response(mobile) {
                        display: block;
                    }
                }
            }
        }
    }

    &__item:not(:first-child){
        margin-top: 10px;
    }

}