.filter{
    height: 10vh;
    width: 100%;
    background-color: $color-primary-light;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__select{
        text-align: center;
        height: 4rem;
        width: 15rem;
        margin-right: 3rem;
        
    }

    &__label{
        color: black;
        font-size: 1.5rem;
        margin-right: 3rem;

    }
}