 .search-box {
     display: flex;
     justify-content: center;
     width: 100%;
     margin-top: 1rem;
     height: 10%;
     position: relative;

     &__input {
         width: 80%;
         padding: 0 2rem;
         border: 2px solid black;
         position: relative;
         height: 60%;
         background-color: white;

         &:focus {
             outline: none;
         }
     }

     &__icon {
         top: -5px;
         position: relative;
         background-color: $color-primary-dark;
         font-size: 1.8em;

     }
 }

 