/**FONT**/
// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Russo+One|Open+Sans:400italic,700italic,400,700);

//Font Variables
$open-sans: 'Open Sans', sans-serif;
$russ-one: 'Russo One', sans-serif;


$default-font-size: 1.6rem;


/**COLOR **/
$color-primary-light: #84CEEB;
$color-primary-dark: #286481;
$color-secondary: #8c00ff;
$color-background: rgb(243, 242, 242);
$color-grey: rgb(197, 197, 197);

/**OTHERS **/
$box-shadow: 0 1.5rem 4rem rgba(black, .15);
$left-nav: 20vw;
$default-margin-top: 16vh;


  
