.admin-products{
    padding-left: $left-nav;
    width: 90%;
    margin: 25vh auto;
    min-height: 100vh;
    text-align: center;

    @include response(mobile){
        padding-left: 0;
    }

    @include response(tab-port) {
        width: 95%;
    }

    @include response(tab-land) {
        width: 95%;
    }


}
.admin-overview {
    width: 100%;
    height: 100%;
    column-gap: 2rem;

}
