.section-best-products {
    text-align: center;

    .row {
        display: grid;
        box-shadow: $box-shadow;
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;

        @include response(mobile){
            grid-template-columns: 1fr;
            justify-content: unset;
        }

        
        @include response(tab-land){
            grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));

        }

        @include response(tab-port){
                        grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));


        }
        
       
    }

    .best-products-box{
        background-color: white;
        border: .6px solid rgb(224, 221, 221);
        padding: 4rem;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        @include response(mobile){
            width: 100%;
            height: 55vh;
            
        }

        @include response(tab-port) {
            height: 60vw;

        }

    
        &__header {
            color: white;

            span{
                display: block;
            }
        }
        &__text{
            color: black;
            font-size: 2rem;
            font-weight: bold;
        }

         &__button {

             &,
             &:link {
                 font-size: 2rem;
                 margin-top: 6rem;
                 padding: 1rem 2.5rem;
                 display: inline-block;
                 text-decoration: none;
                 color: black;
                 background-color: white;
                 font-weight: bold;
                 transition: all .5s;
                 border-radius: 3rem;
                 border: 10px solid black;

                @include response(mobile) {
                    font-size: 1.4rem;
                    margin-top: 6rem;
                    padding: 1rem 1.5rem;
                    border: 4px solid black;

                }

                @include response(tab-port) {
                    font-size: 1.8rem;
                    margin-top: 6rem;
                    padding: 1rem 2rem;
                    border: 7px solid black;

                }
            }

            

            &:hover {
                color: black;
                border: 10px solid black;
                background-color: $color-secondary;

            }
        }

        .content{
            &__image{
                width: 25rem;
                height: 25rem;
                border-radius: 50%;
                border: 10px solid $color-primary-light;

                .image{
                    width: 100%;
                    height: 100%;
                }
            }

            &__header{
                font-size: 2.2rem;
                margin:2rem 0;
                height: 10%;
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .best-products-box:first-child{
        background-color: $color-primary-dark;
        flex-direction: column;
        align-items: center;

        
    }
}