.checkout {
    width: 85%;
    min-height: 90vh;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0;

    &__header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      font-size: 2rem;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
     
      @include response(mobile){
		  justify-content: center;
		  font-weight: bolder;
		  text-transform: uppercase;
      }
    }
  
    &__total {
      margin-top: 2rem;
      margin-left: auto;
      font-size: 2rem;
      display: flex;
      flex-direction: column;

      .tax{
        align-self: end;
      }
      .total{
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    padding: 15px 5px;
    font-size: 1.4rem;
    align-items: center;

    @include response(mobile){
      justify-content: space-evenly;
    }
  
    &__image-container {
      width: 20rem;
      height: 20rem;
      padding-right: 15px;

      @include response(mobile) {
        display: none;
      }
  
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__name,
    &__quantity,
    &__price {
      margin: 3rem;
      font-size: 2rem;

      @include response(mobile) {
        font-size: 1.8rem;
      }
    }
  
    &__quantity {
      display: flex;
      margin: 2rem;
      font-size: 1.6rem;
      justify-content: space-around;
    }

	.price{
		font-size: 1.5rem;
	}
    &__button{
	  padding:  0 2rem;
	  cursor: pointer;
    }
  
    &__remove-button {
      margin: 12px;
      color: red;
      cursor: pointer;
    }
  }
  
  