.contact-page{
    min-height: 100vh;

    .header{
        background-color: $color-primary-dark;
        height: 50vh;
        background-blend-mode: luminosity;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before{
            content:  '';
            background-image: url('../../images/HWY420.png');
            display: flex;
            height: 50vh;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: .2;
            position: absolute;
            align-self: center;
            top: 26%;
            right: 0px;
            left: 0px;

            @include response(mobile) {
                height: 30vh;

            }

            @include response(tab-port) {
                                height: 30vh;

                
            }

            @include response(tab-land) {
                
            }

        }
    }
    .heading-primary{
        margin: 0;
    }
}


.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 10vh auto ;

    &__header{
        font-size: 2.7rem;
        text-transform: uppercase;
        padding: .5rem 0;
        font-weight: bold;
        text-decoration: underline;
    }

    .communication {
        display: flex;
        margin: 2.5rem 0;
        flex-direction: column;
        align-items: center;
        


        .email, .phone {
            font-size: 1.6rem;
        }

        .communication__icon{
            margin-right: .6rem;
            transform: rotate(90deg);
        }
    }

    .hours {
        display: flex;
        margin: 2.5rem 0;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 1.6rem;
        }


    }

    .location{
        display: flex;
        margin: 2.5rem 0;
        flex-direction: column;
        align-items: center;

        .address{
            font-size: 1.6rem;
        }
    }

    .social-media{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 2.5rem 0;

        
        div{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .media-link{
            padding: 2rem;
        }


    }


}