.order{
    &__header {
        @include modalHeader;
        display: flex;
        justify-content: center;
        align-items: center;

        .heading-secondary {
            color: black;
        }

        .logo-box {

            display: flex;
            align-items: center;
            justify-content: center;


            @include response(tab-port) {
                font-size: 2rem;
                font-weight: bolder;
            }

            @include response(tab-land) {
                font-size: 2rem;
                font-weight: bolder;
            }

            .logo {
                margin: 10px 2rem;
                
                img {
                    width: 5rem;
                    height: 5rem;
                }
            }
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        .total{
            font-size: 1.6rem;
            padding-top: 1rem;
        }

        .form{
            padding-top: 1rem;

            &__select{
                    align-items: center;
                    margin: 0;
                select{
                    width: 20rem;
                }
                
            }
        }
    }

    &__label {
        font-size: 1.6rem;
        padding-left: 1rem;
    }

}