.orders-list {
    padding-left: $left-nav;
    width: 90%;
    margin: 5vh auto;
    min-height: 100vh;
    text-align: center;

    @include response(mobile) {
        margin: 5vh auto;
        padding-left: 0;
        display: ruby;
        width: 100vw;
    }

    table {
        width: 100%;
        border-spacing: 5px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        border-top: none !important;

        @include response(mobile) {
            width: 70vw;
        }

    }

    th {
        background-color: $color-primary-dark;
        color: white;
        font-size: 1.4rem;
        text-transform: uppercase;

        @include response(mobile) {
            font-size: 1rem;
        }
    }

    &:first-child{


    }

    tr{
        vertical-align: sub;
        position: relative;

        .orders-fulfilled:checked{
            color: red;
        }
    }

    tr:nth-child(odd) {
        background-color: rgba($color: #000000, $alpha: .3);
    }

    tr:nth-child(even) {
        background-color: white;
    }

    table,
    th,
    td {
        border-collapse: collapse;
    }

    th,
    td {
        padding: .5rem;

    }

    td {
        color: black;
        font-size: 1.2em;
    }

    tr:hover {
        cursor: pointer;
    }
    .total{
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.strike-through td::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

.user-order{
    &__header{
         padding-top: 2%;
         .heading-tertiary {
             padding-top: 10%;
         }
    }

    &__body{
        width: 80%;
        height: 60%;
        overflow-y: auto;
        .checkout-item{

            &__name,
            &__quantity,
            .price
             {
                font-size: 1.2rem;
            }

        }

    }
     &__label {
         display: flex;
         position: relative;
         padding-left: 3rem;
         margin: 2rem;
         cursor: pointer;
         font-size: 2rem;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;

         input {
             position: absolute;
             opacity: 0;
             cursor: pointer;
             height: 0;
             width: 0;
         }

         .check-mark {
             position: absolute;
             top: 0;
             left: 0;
             height: 25px;
             width: 25px;
             background-color: #eee;
             border: 1px solid black;

         }

        .check-mark::after{
            content: '';
            position: absolute;
        
            left: 25%;
            top: 50%;
            width: 5px;
            height: 15px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg) translate(-50%, -50%);
            -ms-transform: rotate(45deg) translate(-50%, -50%);
            transform: rotate(45deg) translate(-50%, -50%);
        }

     }
     &__label:hover input~.check-mark {
         background-color: #ccc;
     }
    
     &__label input:checked~.check-mark:after {
         display: block;
     }

    &__label input:checked~.check-mark {
        background-color: $color-primary-dark;
    }

    .total{
        font-size: 3rem;
    }
    

}



