.user-profile{
    display: grid;
    min-height: 100vh;
    width: 90%;
    padding-left: $left-nav;
    grid-template-columns: 30% 70% ;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px auto;
    grid-template-rows: repeat(4 , 1fr);


    @include response(mobile) {
        min-height: 200vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin: 1rem auto;
        padding-left: 0

    }

    @include response(tab-port) {
            min-height: 200vh;
        column-gap: 1rem;
        row-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    @include response(tab-land) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        grid-template-rows: repeat(2, 1fr);
    }
    

    &__details {
        background-color:white;
        position: relative;
        width: 100%;
        height: 80%;
        border-radius: 10px;
        overflow: hidden;
        grid-row: 1 / 3;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;

         @include response(mobile) {
             grid-row: 1 / 2;
             align-items: center;


         }

         @include response(tab-port) {
             grid-row: 1/ 2;
            align-items: center;


         }

         @include response(tab-land) {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            align-items: center;


         }

        div{
            display: flex;
            align-items: center;
            padding: .3rem .7rem;

        }

        .label{
            font-size: 1.6rem;
            font-weight: 600;
            text-transform: capitalize;
            padding: 0 .2rem;
        }

        .value{
            font-size: 1.3rem;

        }

       
    }

    &__header{
        background-color: $color-primary-dark;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__avatar{
        font-size: 3rem;
        background-color: $color-primary-light;
        font-weight: bold;
        text-transform: uppercase;
        border: 3px white solid;
        align-self: center;
        width: 8rem;
        color: white;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    &__panel {
        background-color:white;
        border-radius: 10px;
        grid-row: 3 / 4;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: $box-shadow;

        .btn{
            width: 60%;
            font-size: 1.1rem;
        }

        @include response(mobile) {
            grid-row: 2 / 3;


        }

        @include response(tab-port) {
            grid-row: 2/ 3;

        }

        @include response(tab-land) {
            grid-row: 1 / 2;
            grid-column: 2 / 3;


        }
        

    }

    &__finance {
        background-color:white;
        border-radius: 10px;
        box-shadow: $box-shadow;
        grid-row: 1 /4 ;
        width: 100%;
        height: 100%;

         @include response(mobile) {
             grid-row: 3 / 4;


         }

         @include response(tab-port) {
             grid-row: 3/ 4;

         }

         @include response(tab-land) {
             grid-row: 2 / 4;
             grid-column: 1/ -1;

         }
    }
}

.edit-profile{
    width: 100%;
    padding-top: 4rem;
}
.order-list {
    width: 80%;
    margin: 5vh auto;
    padding-left: 0;
    min-height: 100vh;
    text-align: center;
}