*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: $color-background;
    color: rgb(48, 47, 47);
    font-family: $open-sans;

    @include response(mobile){
        font-size: 50%;
    }

    @include response(tab-port) {
        font-size: 60%;
    }
    @include response(tab-land) {
        font-size: 70%;
    }

}

section{
    margin: 20rem 0;

    

}

.empty-list{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;

}

:required{
    outline: none;
    border: none;
}

.Toastify__toast{
    font-size: 2rem;
    text-align: center;
}