.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include response(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;

    @include response(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}


.Toastify__toast-container{
    width: 40%;
}

.Toastify__toast-body {
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    @include response(mobile){
        font-size: 1.2rem;
    }

    @include response(tab-land) {
    }

    @include response(tab-port) {
    }
}